body{
	color: Black;
	font-family: tahoma;
	font-size:50pt;
	font-weight: bold;
	letter-spacing: 0em;
	word-spacing: 0em;
	text-align: center;
}

div{
    width: 500px;
    height: 100px;
    position: relative;
}
        
.cvlattes{
      top: 130px;
      left: 250px;
}
        
.vermelho{
          top: 130px;
          left: 130px;
          background: red;
}

.verde{
      top: 130px;
      left: 130px;
      background: green;
}
